
.main {
    display: flex;
    flex-wrap: wrap;
}

.main .item{
    width: 30%;
    height: 100px;
    margin: 1%;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
}

.main :nth-child(1){
    background-color: black;
}
.main :nth-child(2){
    background-color: rgb(211, 28, 156);
}

.main :nth-child(3){
    background-color: rgb(14, 187, 245);
}

.main :nth-child(4){
    background-color: rgb(5, 64, 23);
}

.main :nth-child(5){
    background-color: rgb(67, 16, 101);
}
.main :nth-child(6){
    background-color: rgb(218, 110, 22);
}

.main2{
    margin-top: 100px;
    display: flex;
}
.main2 .item{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;

    
}
.main2 :nth-child(1){
background-color: rgb(7, 62, 7);
}
.main2 :nth-child(2){
    background-color: black;
}
.main2 :nth-child(3){
    background-color: rgb(150, 48, 11);
}

.main3{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;

}
.main3 .item{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;

    
}
.main3 :nth-child(1){
background-color: rgb(7, 62, 7);
}
.main3 :nth-child(2){
    background-color: black;
}
.main3 :nth-child(3){
    background-color: rgb(150, 48, 11);
}


.main4{
    margin-top: 100px;
    display: flex;
   justify-content: space-between;

}
.main4 .item{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;

    
}
.main4 :nth-child(1){
    display: flex;
background-color: rgb(7, 62, 7);

}
.main4 :nth-child(2){
    background-color: black;
}
.main4 :nth-child(3){
    background-color: rgb(150, 48, 11);
}

.main5{
    margin-top: 100px;
    display: flex;
 justify-content: space-around;

}
.main5 .item{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;

    
}
.item{
    display: flex;
    flex-direction: column;
    
}
.main6 .item .item2{
    display: flex;
    width: 80px;
    height: 80px;
    

    justify-content: center;
    align-items: center;
    font-size: 15px;
   
}
.main6 .item :nth-child(1){
    display: flex;
background-color: rgb(7, 62, 7);


}
.main6 .item :nth-child(2){
    background-color: black;
}
.main6 .item :nth-child(3){
    background-color: rgb(150, 48, 11);
}

.main6{
    margin-top: 100px;
    display: flex;
 
}
.main6 .item{
    width: 20%;
    height: 500px;
    display: flex;
    
    color: white;
    font-size: 40px;
    background-color: gray;
    margin: 0.5%;

}
 .it{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.it1{
    display: flex;
   align-items: flex-end;
   justify-content: space-around;
}
.it2{
    display: flex;
    justify-content: space-between;
}
.it3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
}
.it4{
    display: flex;
    justify-content:flex-end;
}
.main7 {
    display: flex;
    
}
.section1{
    display: flex;
    flex-wrap: wrap;
}

.main7 .section,.section1{
    width: 600px;
    height: 600px;

}

.main7 :nth-child(1){
    background-color: rgb(153, 16, 16);
    
}
.main7 :nth-child(2){
    background-color: rgb(14, 2, 2);
    
}
.section1 .item{
   width: 300px;
    height: 300px;
    
}

.section1 :nth-child(1){
    background-color: rgb(10, 65, 4);
}

.section1 :nth-child(2){
    background-color: rgb(61, 7, 88);
}
.section1 :nth-child(3){
    background-color: rgb(181, 77, 13);
}
.section1 :nth-child(4){
    background-color: rgb(117, 5, 80);
}
.main8{
    display: flex;
    margin-top: 100px;
}

.main8{
    display: flex;
    margin-top: 100px;
}
.ikireng .item{
    width: 600px;
    height: 300px;
}
.ikireng :nth-child(1)
{
    background-color: black;
}

.ikireng :nth-child(2)
{
    background-color: rgb(141, 13, 13);
}
 .dordreng {
    width: 600px;
    height: 600px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
 }

 .dordreng .item{
    width: 300px;
    height: 300px;
    
 }
 .dordreng :nth-child(1){
    background-color: rgb(41, 159, 214);
 }
 .dordreng :nth-child(2){
    background-color: rgb(94, 11, 117);
 }
 .dordreng :nth-child(3){
    background-color: rgb(7, 103, 66);
 }

 .dordreng :nth-child(4){
    background-color: rgb(209, 114, 12);
 }